<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Products</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>Brand: <%= product.brand%></li>
        <li>Color: <%= product.color%></li>
        <li>Price: <%= product.price%></li>
        <li>
            Category: <a href="/products?category=<%= product.category%>">
                <%= product.category%></a>
        </li>
    </ul>
    <a href="/products">All Products</a><br>
    <a href="/products/<%= product._id%>/edit">Edit Product</a><br>
    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</body>
</html>